@font-face {
  font-family: Gravity-Regular;
  src: url("polices/Gravity-Regular.otf");
}

html {
  scrollbar-width: 8px;
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 0%;
}

.wrapper {
  height: 100vh;
}

header {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-size: cover;
  font-family: Gravity-Regular;
}

#bg {
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 20px 6vw 20px 6vw;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#root {
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

#home {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 65%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Gravity-Regular;
}

#home h1 {
  font-size: 3.8vw;
  color: aliceblue;
  letter-spacing: 4px;
}

#home h2 {
  font-size: 1.2vw;
  letter-spacing: 2px;
  color: azure;
}

nav a {
  color: azure;
  margin-left: 6%;
  padding: 10px;
  padding-bottom: 2px;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  opacity: 0.8;
}

#competences {
  font-family: Gravity-Regular;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  position: relative;
  margin: 0;
}

#textCompetences {
  letter-spacing: 2px;
  margin-left: 8%;
  top: 12%;
  position: relative;
  width: 40%;
  color: aliceblue;
  font-size: 1vw;
}

#textCompetences p {
  margin-top: 5%;
  letter-spacing: 1px;
  font-size: 1vw;
}

#textCompetences h1 {
  font-size: 2.2vw;
}

#textCompetences h2 {
  margin-top: 10%;
  font-size: 1.6vw;
}

#languages {
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 22vh;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

#languages2 {
  position: absolute;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 39vh;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.logoLanguages {
  width: 5.2vw;
  height: auto;
  min-width: 80px;
}

#container {
  width: 21vw;
  height: 21vw;
  position: relative;
  overflow: hidden;
  border-radius: 21vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#moi {
  width: 21vw;
  height: auto;
  opacity: 1;
}

i {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  transition: 0.3s;
}

i:hover {
  top: 89.6%;
  transition: 0.3s;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#reseaux {
  font-family: Gravity-Regular;
  width: 100%;
  height: 35%;
  position: relative;
  margin: 0;
  text-align: center;
  background-color: whitesmoke;
}

#reseaux h2 {
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#reseaux ul {
  padding: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#reseaux ul li {
  display: inline;
}

#reseaux li {
  list-style-type: none;
}

#reseaux li img {
  width: 4.2vw;
  padding: 15px;
  min-width: 60px;
}

#reseaux li img:hover {
  opacity: 0.9;
  text-decoration: none;
}

footer {
  font-family: Gravity-Regular;
  height: 7.5%;
  width: 100%;
  background-color: black;
}

footer div {
  position: relative;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline;
  color: white;
  padding: 10px 6vw 2px 6vw;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.2s;
}

footer ul li a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  opacity: 0.8;
  transition: 0.2s;
}
